*, *:after, *:before {
box-sizing: border-box;
padding: 0;
margin: 0;
transition: .5s ease-in-out; /* добавим плавность переходов для всех элементов страницы*/
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    outline: none;
}
img {
    display: block;
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display';
    font-weight: normal;
    letter-spacing: 1px;
}
body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #373737;
    background: #f7f7f7;
}
.prev{
    background-size: cover;
    height:100vh;
    width:100%;
}
.zagolovok{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out
    position: absolute;
    top:200px;
    left:100px;
    background-color: rgba(175, 134, 87, .70);
    box-sizing: border-box;
    padding: 15px 10px;
    border:1px solid red;
    border-radius: 20px 0px 20px 0px;
}
